<form action="/" method="post">
    What's your name?<br>
    <input type="text" name="name"><br>
     When's your birthday?<br>
    <input type="date" name="bday"><br>
    <input type="submit" name="submit">
</form>